h3{
	text-align: center;
	color: blue;
	margin-top: 50px;
	margin-bottom: 30px;
}
button img {
width: 40px;
height: 35px;
}
button{
	margin-left: 50px;
	margin-bottom: 20px;
}
table .tr-ghe{
	line-height: 20px;
}
table{
	margin: auto;
}
.coach-name{
	font-size: 30px;
	color: blue;
	    position: absolute;
    bottom: 70%;
    margin-left:150px;
    transform: rotate(-90deg);
}
.coach-name1{
	font-size: 30px;
	color: blue;
	    position: absolute;
    bottom: 20%;
    margin-left:150px;
    transform: rotate(-90deg);
}