/*--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

/*--- reset code ---*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {
	display: block;
}
div#gioitinh{
	color:white;
	padding: 25px;
	margin-left: 50px;
	border-bottom:5px solid #fff;
	width:300px;
	height:50px;
		padding:0 15px;
	padding-left:20px;
}
#gioitinh{
	margin-left:70px;
}
ol,ul {
	list-style:none;
	margin:0px;
	padding:0px;
}
blockquote,q {
	quotes:none;
}
blockquote:before,blockquote:after,q:before,q:after {
	content:'';
	content:none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}

/* start editing from here */
a {
	text-decoration:none;
}
.txt-rt {
	text-align:right;
}/* text align right */
.txt-lt {
	text-align:left;
}/* text align left */
.txt-center {
	text-align:center;
/*-- W3Layouts --*/	
}/* text align center */
.float-rt {
	float:right;
}/* float right */
.float-lt {
	float:left;
}/* float left */
.clear {
	clear:both;
}/* clear float */
.pos-relative {
	position:relative;
}/* Position Relative */
.pos-absolute {
	position:absolute;
}/* Position Absolute */
.vertical-base {	
	vertical-align:baseline;
}/* vertical align baseline */
.vertical-top {	
	vertical-align:top;
}/* vertical align top */
nav.vertical ul li {	
	display:block;
}/* vertical menu */
nav.horizontal ul li {	
	display: inline-block;
}/* horizontal menu */
img {
	max-width:100%;
}

/*--- end reset code ---*/

body {
	background:url(../img/banner.jpg) no-repeat;
	background-attachment:fixed;
	background-position:center;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	font-family: 'Raleway', sans-serif;
	font-weight:300;
}
h1.w3ls {
	font-size:50px;
	color:#fff;
	padding:40px 0;
	text-align:center;
	/*-- w3layouts --*/ 
	text-transform:uppercase;
}
.content-w3ls {
	background-color:#202123;
	width:70%;
	margin:0 auto 50px;
	padding:0;
}
.content-w3ls .content-agile1 {
    width: 50%;
    float: left;
    background: url(../img/content.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    height: 555px;
}
h2.agileits1 {
    font-size: 40px;
    font-weight: normal;
    color: #fff;
    text-align: Center;
    padding: 200px 0 15px;
    text-transform: uppercase;
	font-family: 'Monoton', cursive;
}
p.agileits2 {
    font-size: 15px;
    font-weight: normal;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
}
.content-w3ls .content-agile2 {
	width: 50%;
    float: left;
    padding: 25px 0 0;
}
#select{
	width:300px;
	height:50px;
	padding:0 15px;
	color:#fff;
	font-size:17px;
	font-weight:200;
	background-color:transparent;
}
input#firstname,input#email,input#password1,input#password2 {
	width:300px;
	height:50px;
	padding:0 15px;
	color:#fff;
	font-size:17px;
	font-weight:200;
	background-color:transparent;
	/*-- w3layouts --*/ 
	border-bottom:5px solid #fff;
	border-top-color:transparent;
	border-left-color:transparent;
	border-right-color:transparent;
	font-family: 'Raleway', sans-serif;
	margin:0 auto 20px;
	display:block;
	outline:none;
}
input#firstname:focus,input#email:focus,input#password1:focus,input#password2:focus,input#firstname:hover,input#email:hover,input#password1:hover,input#password2:hover {
	color:#fff;
	border-bottom:5px solid #3970b0;
}
input::-webkit-input-placeholder {
color: #fff !important;
} 
input:-moz-placeholder { /* Firefox 18- */
color: #fff !important;  
} 
input::-moz-placeholder {  /* Firefox 19+ */
color: #fff !important;  
} 
input:-ms-input-placeholder {  
color: #fff !important;  
}
input:hover::-webkit-input-placeholder {
color: #3970b0 !important;
} 
input:hover:-moz-placeholder { /* Firefox 18- */
color:	#3970b0 !important;  
} 
input:hover::-moz-placeholder {  /* Firefox 19+ */
color: #3970b0 !important;  
} 
input:hover:-ms-input-placeholder {  
color: #3970b0 !important;  
}
input.register {
    width: 335px;
    margin: 30px auto;
    display: block;
    height: 50px;
    text-align: center;
    font-size: 17px;
    font-weight: normal;
    color: #fff;
    background-color:#3970b0;
    border-color: transparent;
	font-family: 'Raleway', sans-serif;
	/*-- w3ls --*/
	transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
	cursor:pointer;
}
input.register:hover {
	color: #fff;
    background-color:#3970b0;
}
p.wthree {
    font-size: 16px;
    font-weight: normal;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 20px;
}
ul.social-agileinfo {
    text-align: center;
}
ul.social-agileinfo li {
	display:inline-block;
	margin:0;
}
ul.social-agileinfo li a i.fa {
	width:40px;
	height:40px;
	border:1px solid #fff;
	text-align:center;
	line-height:40px;
	color:#fff;
}
ul.social-agileinfo li a i.fa.fa-facebook:hover {
	background-color:#3b5998;
	color:#fff;
	border-color:#3b5998;
}
ul.social-agileinfo li a i.fa.fa-twitter:hover {
	background-color:#1da1f2;
	color:#fff;
	border-color:#1da1f2;
}
ul.social-agileinfo li a i.fa.fa-youtube:hover {
	background-color:#cd201f;
	color:#fff;
	border-color:#cd201f;
}
ul.social-agileinfo li a i.fa.fa-google-plus:hover {
	/*-- w3ls --*/
	background-color:#dd4b39;
	color:#fff;
	border-color:#dd4b39;
}
ul.social-agileinfo li a i.fa:hover {
    -webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	-moz-animation: spin 2s linear infinite;
	-o-animation: spin 2s linear infinite;
	-ms-animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
p.copyright {
    font-size: 16px;
    text-align: center;
    color: #dadada;
    line-height: 30px;
    padding: 20px 10px;
}
p.copyright a {
	color:#f15f22;
}
p.copyright a:hover {
	color:#36b051;
}

/*-- responsive design --*/
@media (max-width:1600px) {
	h2.agileits1 {
	padding: 225px 0 15px;	
	}
}

@media (max-width: 1366px) {
h2.agileits1 {
    padding: 235px 0 15px;
}
}

@media (max-width: 1080px) {
	/*-- agileits --*/
h1.w3ls {
    font-size: 40px;
}
.content-w3ls {
	width:80%;
	margin: 0 auto 40px;
}
p.agileits2 {
    font-size: 14px;
}
p.copyright {
    font-size: 14px;
}
p.wthree {
    font-size: 14px;
}
input#firstname, input#email, input#password1, input#password2 {
	font-size:15px;
}
}

@media (max-width: 1024px) {
h1.w3ls {
	padding: 30px 0;
	font-size:35px;
}
}

@media (max-width: 991px) {
h2.agileits1 {
    padding: 230px 0 15px;
}
.content-w3ls {
    width: 90%;
}
}

@media (max-width: 800px) {
input#firstname, input#email, input#password1, input#password2 {
    width: 260px;
}
input.register {
    width: 295px;
}
p.agileits2 {
    font-size: 14px;
    line-height: 30px;
    padding: 0 10px;
}
/*-- agileits --*/
}

@media (max-width: 768px) {
h2.agileits1 {
    padding: 210px 0 15px;
}
}

@media (max-width: 736px) {
.content-w3ls .content-agile1 {
    width: 100%;
	height:250px;
}
h2.agileits1 {
    padding: 75px 0 15px;
}
.content-w3ls .content-agile2 {
    width: 100%;
    padding: 25px 0 30px;
}
.content-w3ls {
    width: 65%;
}
}

@media (max-width: 600px) {
h2.agileits1 {
    padding: 65px 0 10px;
}
}

@media (max-width: 568px) {
.content-w3ls {
    width: 70%;
}
}

@media (max-width: 480px) {
h2.agileits1 {
    font-size: 35px;
}
}

@media (max-width: 414px) {
h1.w3ls {
    padding: 25px 0;
    font-size: 30px;
}
.content-w3ls {
	/*-- agileinfo --*/
    width: 85%;
	margin: 0 auto 10px;
}
}

@media (max-width: 384px) {
input#firstname, input#email, input#password1, input#password2 {
    width: 230px;
	height: 40px;
}
input.register {
    width: 260px;
	height:45px;
}
p.wthree {
    font-size: 14px;
    padding: 0 15px 20px;
    line-height: 30px;
}
}

@media (max-width: 375px) {
h1.w3ls {
    padding: 25px 0;
    font-size: 27px;
}
h2.agileits1 {
    font-size: 25px;
	padding: 43px 0 10px;
}
.content-w3ls .content-agile1 {
    width: 100%;
    height: 200px;
}
}

@media (max-width: 320px) {
h1.w3ls {
    padding: 25px 0;
    font-size: 24px;
}
.content-w3ls .content-agile1 {
    width: 100%;
    height: 180px;
}
h2.agileits1 {
    font-size: 22px;
    padding: 37px 0 10px;
}
/*-- agileinfo --*/
p.agileits2 {
    font-size: 13px;
}
input#firstname, input#email, input#password1, input#password2 {
    width: 195px;
    height: 40px;
	font-size: 14px;
}
.content-w3ls {
    width: 90%;
    margin: 0 auto;
}
input.register {
    width: 230px;
    height: 40px;
	font-size:15px;
}
p.wthree {
    font-size: 13px;
    padding: 0 15px 15px;
}
p.copyright {
    font-size: 13px;
}
}






/*-- /responsive design --*/