<!DOCTYPE html>
<html xmnlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Add Cinema</title>
<!-- Custom fonts for this template-->
<script th:src="@{https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js}"></script>
<script
	th:src="@{https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js}"
	type="text/javascript"></script>
<script th:src="@{https://code.jquery.com/jquery-1.11.3.min.js}">
	
</script>
<script type="text/javascript"
	th:src="@{https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js}">
</script>
<link
	th:href="@{https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i}"
	rel="stylesheet" />
<!-- Custom styles for this template-->
<link rel="stylesheet" th:href="@{/css/styleTSX.css}" />
<!-- Custom fonts for this template-->
<link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet"
	type="text/css" />
<!-- Custom styles for this template-->
<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet" />

<link rel="stylesheet"
	href="/cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}" />
</head>
<body id="page-top">
	<!-- Page Wrapper -->
	<div id="wrapper">
		<!-- Include MenuFrom -->
		<th:block th:replace="fragments/MenuFormLeft"></th:block>
		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">
			<!-- Main Content -->
			<div id="content">
				<!-- Topbar -->
				<nav
					class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
					<!-- Sidebar Toggle (Topbar) -->
					<button id="sidebarToggleTop"
						class="btn btn-link d-md-none rounded-circle mr-3">
						<i class="fa fa-bars"></i>
					</button>
					<!-- Topbar Search -->
					<marquee>
						<h1 style="color: blue;">Book Tickets System</h1>
					</marquee>
					<!-- Topbar Navbar -->
				</nav>
				<!-- Form thêm -->
				<form th:action="@{/cinema/save}" method="POST" id="formAdd"
					style="width: 1000px; margin-left: 130px;" th:object = "${cinema}" enctype="multipart/form-data">
					<div style="text-align: center;">
						<h2>
							<b>Rạp Chiếu Phim</b>
						</h2>
						<!-- <p style="color: red; font-style: italic;">
							<bean:write name="userForm" property="thongBao" />
						</p> -->
					</div>
					<div class="row">
						<label class="col-25" for="fname">CinemaID
						<span class="asterisk">*</span></label>
						<input class="col-75" th:field = "*{cinemaId}" type="hidden" id="fname" name="userID" required="required"
							placeholder="Vui lòng nhập userID" />
						
					</div>
					<div class="row">
						<label class="col-25" for="lname">Tên phim 
						<span class="asterisk"> *</span></label>
						<input class="col-75" type="text" id="lname" th:field = "*{cinemaName}" required="required"
							placeholder="Vui lòng nhập tên phim" />
						<em th:if = "${#fields.hasErrors('cinemaName')}" th:errors = "*{cinemaName}"></em>
						
					</div>
					<div class="row">
						<label class="col-25" for="lname">Ảnh hiển thị
						<span class="asterisk">*</span></label>
						<img class = "image" id="img-display"/>						
						<input  class="col-10" type="file" style="padding-left :250px" name = "imageFile" onchange = "readURL(this);"
							accept="image/x-png,image/gif,image/jpeg" id="image" required="required" /> 
						<em th:if = "${#fields.hasErrors('cinemaImage')}" th:errors = "*{cinemaImage}"></em>
						
					</div>
					<div class="row">
						<label class="col-25" for="lname">Địa Chỉ
						<span class="asterisk">*</span></label>
						<input class="col-75" type="text" id="cinemaAddress" th:field = "*{cinemaAddress}" required="required"
							placeholder="Vui lòng nhập mô tả" />
						<em th:if = "${#fields.hasErrors('cinemaAddress')}" th:errors = "*{cinemaAddress}"></em>
					</div>
					
					<div class="row">
						<label class="col-25" for="lname">Số Điện Thoại
						<span class="asterisk">*</span></label>
						<input class="col-75" type="text" id="cinemaPhone" th:field = "*{cinemaPhone}" required="required"
							placeholder="Vui lòng nhập trailer" />
						<em th:if = "${#fields.hasErrors('cinemaPhone')}" th:errors = "*{cinemaPhone}"></em>
					</div>
					
					<div class="row">
						<label class="col-25" for="lname">Google Map
						<span class="asterisk">*</span></label>
						<input class="col-75" type="text" id="lname" th:field="*{cinemaGGMap}" required="required"
							placeholder="Vui lòng nhập thời lượng" />
						<em th:if = "${#fields.hasErrors('cinemaGGMap')}" th:errors = "*{cinemaGGMap}"></em>
					</div>
					
					<div class="row">
						<label class="col-25" for="lname">Tên Đăng Nhập
						<span class="asterisk">*</span></label>
						<input class="col-75" type="text" id="lname" th:field="*{cinemaUserName}" required="required"
							placeholder="Vui lòng nhập thời lượng" />
						<em th:if = "${#fields.hasErrors('cinemaUserName')}" th:errors = "*{cinemaUserName}"></em>
					</div>
					
					<div class="row">
						<label class="col-25" for="lname">Mật Khẩu
						<span class="asterisk">*</span></label>
						<input class="col-75" type="text" id="lname" th:field="*{cinemaPassword}" required="required"
							placeholder="Vui lòng nhập thời lượng" />
						<em th:if = "${#fields.hasErrors('cinemaPassword')}" th:errors = "*{cinemaPassword}"></em>
					</div>
					
					<div class="row">
						<label class="col-25" for="lname">Mô tả
						<span class="asterisk">*</span></label>
						<textarea rows="4" cols="50" class="textArea" id="lname" th:field="*{cinemaDescription}" required="required"
							placeholder="Vui lòng nhập thời lượng" ></textarea>
						<em th:if = "${#fields.hasErrors('cinemaDescription')}" th:errors = "*{cinemaDescription}"></em>
					</div>
					
					<div class="row">
						<input type="submit" value="Thêm" name="them" />
						<!-- 	<input style="margin-left: 15px" value="Hủy" name="huy"> -->
					</div>
				</form>
			</div>
		</div>
		<!-- End of Topbar -->
		<!-- Begin Page Content -->
	</div>
	<script type="text/javascript">
		function readURL(input) {
			if (input.files) {
				var reader = new FileReader();

				reader.onload = function(e) {
					$('#img-display').attr('src', e.target.result);
				}
				reader.readAsDataURL(input.files[0]);
			}
		}
		$("#image").change(function() {
			readURL(this);
		});
	</script>
	<!-- Bootstrap core JavaScript-->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<!-- Core plugin JavaScript-->
	<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
	<!-- Custom scripts for all pages-->
	<script th:src="@{/js/sb-admin-2.min.js}"></script>
	<!-- Page level plugins -->
	<script th:src="@{/vendor/chart.js/Chart.min.js}"></script>
	<!-- Page level custom scripts -->
	<script th:src="@{/js/demo/chart-area-demo.js}"></script>
	<script th:src="@{/js/demo/chart-pie-demo.js}"></script>
</body>
</html>