<!DOCTYPE html>
<html xmnlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Add Movie</title>
<!-- Custom fonts for this template-->
<script th:src="@{https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js}"></script>
<script
	th:src="@{https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js}"
	type="text/javascript"></script>
<script th:src="@{https://code.jquery.com/jquery-1.11.3.min.js}">
	
</script>
<script type="text/javascript"
	th:src="@{https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js}">
</script>
<link
	th:href="@{https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i}"
	rel="stylesheet" />
<!-- Custom styles for this template-->
<link rel="stylesheet" th:href="@{/css/styleTSX.css}" />
<!-- Custom fonts for this template-->
<link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet"
	type="text/css" />
<!-- Custom styles for this template-->
<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet" />

<link rel="stylesheet"
	href="/cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}" />
</head>
<body id="page-top">
	<!-- Page Wrapper -->
	<div id="wrapper">
		<!-- Include MenuFrom -->
		<th:block th:replace="fragments/MenuFormLeft"></th:block>
		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">
			<!-- Main Content -->
			<div id="content">
				<!-- Topbar -->
				<nav
					class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
					<!-- Sidebar Toggle (Topbar) -->
					<button id="sidebarToggleTop"
						class="btn btn-link d-md-none rounded-circle mr-3">
						<i class="fa fa-bars"></i>
					</button>
					<!-- Topbar Search -->
					<marquee>
						<h1 style="color: blue;">Book Tickets System</h1>
					</marquee>
					<!-- Topbar Navbar -->
				</nav>
				<!-- Form thêm -->
				<form th:action="@{/movie/save}" method="POST" id="formAdd"
					style="width: 1000px; margin-left: 130px;" th:object = "${movie}" enctype="multipart/form-data">
					<div style="text-align: center;">
						<h2>
							<b>Thêm Phim</b>
						</h2>
						<!-- <p style="color: red; font-style: italic;">
							<bean:write name="userForm" property="thongBao" />
						</p> -->
					</div>
					<div class="row">
						<label class="col-25" for="fname">MovieID
						<span class="asterisk">*</span></label>
						<input class="col-75" th:field = "*{movieId}" type="hidden" id="fname" name="userID" required="required"
							placeholder="Vui lòng nhập userID" />
						
					</div>
					<div class="row">
						<label class="col-25" for="lname">Tên phim 
						<span class="asterisk"> *</span></label>
						<input class="col-75" type="text" id="lname" th:field = "*{movieName}" required="required"
							placeholder="Vui lòng nhập tên phim" />
						<em th:if = "${#fields.hasErrors('movieName')}" th:errors = "*{movieName}"></em>
						
					</div>
					<div class="row">
						<label class="col-25" for="lname">Ảnh hiển thị
						<span class="asterisk">*</span></label>
						<img class = "image" id="img-display"/>					
						<input  class="col-10" type="file" style="padding-left :250px" name = "imageFile" onchange = "readURL(this);"
							accept="image/x-png,image/gif,image/jpeg" id="image" required="required" /> 
						<em th:if = "${#fields.hasErrors('image')}" th:errors = "*{image}"></em>
						
					</div>
					<div class="row">
						<label class="col-25" for="lname">Ngày bắt đầu
						<span class="asterisk">*</span></label>
						<input class="col-75" type="date" id="lname" th:field = "*{startDate}" required="required"/>
						<em th:if = "${#fields.hasErrors('startDate')}" th:errors = "*{startDate}"></em>
					</div>
					
					<div class="row">
						<label class="col-25" for="lname">Ngày kết thúc
						<span class="asterisk">*</span></label>
						<input class="col-75" type="date" id="lname" th:field = "*{endDate}" required="required"/>
						<em th:if = "${#fields.hasErrors('endDate')}" th:errors = "*{endDate}"></em>
					</div>
					
					<div class="row">
						<label class="col-25" for="lname">Diễn Viên
						<span class="asterisk">*</span></label>
						<input class="col-75" type="text" id="lname" th:field = "*{actor}" required="required"
							placeholder="Vui lòng nhập diễn viên"/>
						<em th:if = "${#fields.hasErrors('actor')}" th:errors = "*{actor}"></em>
					</div>
					
					<div class="row">
						<label class="col-25" for="lname">Nội Dung
						<span class="asterisk">*</span></label>
						<input class="col-75" type="text" id="dienThoai" th:field = "*{desciption}" required="required"
							placeholder="Vui lòng nhập nội dung" />
						<em th:if = "${#fields.hasErrors('desciption')}" th:errors = "*{desciption}"></em>
					</div>
					<div class="row">
						<label class="col-25" for="lname">Trailer
						<span class="asterisk">*</span></label>
						<input class="col-75" type="text" id="dienThoai" th:field = "*{trailer}" required="required"
							placeholder="Vui lòng nhập trailer" />
						<em th:if = "${#fields.hasErrors('trailer')}" th:errors = "*{trailer}"></em>
					</div>
					
					<div class="row">
						<label class="col-25" for="lname">Thời lượng
						<span class="asterisk">*</span></label>
						<input class="col-75" type="text" id="lname" th:field="*{time}" required="required"
							placeholder="Vui lòng nhập thời lượng" />
						<em th:if = "${#fields.hasErrors('time')}" th:errors = "*{time}"></em>
					</div>
					
					<div class="row">
						<label class="col-25" for="lname">Trạng thái
						<span class="asterisk">*</span></label>
						<select th:field="*{status}" style="margin-left: 65px; margin-top: 5px;">
							<option selected="selected" th:value="1">Phim sắp chiếu</option>
							<option th:value="0">Phim đang chiếu</option>
						</select>
						<em th:if = "${#fields.hasErrors('status')}" th:errors = "*{status}"></em>
					</div>
					
					<div class="row">
						<label class="col-25" for="lname">Quốc Gia
						<span class="asterisk">*</span></label>
						<select th:field = "*{country}" style="margin-left: 65px; margin-top: 5px;">
							<option selected="selected" th:value= "null">--Quốc Gia---</option>
							<option th:each= "country : ${countrylist}" th:value="${country.countryId}" th:text = "${country.countryName}"></option>
						</select>
						<em th:if = "${#fields.hasErrors('country')}" th:errors = "*{country}"></em>
					</div>
					
					<div class="row">
						<label class="col-25" for="lname">Thể Loại
						<span class="asterisk">*</span></label>
						<select th:field = "*{category}" style="margin-left: 65px; margin-top: 5px;">
							<option selected="selected" th:value="null">--Thể Loại---</option>
							<option th:each= "category : ${categorylist}" th:value="${category.categoryId}" th:text = "${category.categoryName}"></option>
						</select>
						<em th:if = "${#fields.hasErrors('category')}" th:errors = "*{category}"></em>
					</div>
					
					<div class="row">
						<input type="submit" value="Thêm" name="them" />
						<!-- 	<input style="margin-left: 15px" value="Hủy" name="huy"> -->
					</div>
				</form>
			</div>
		</div>
		<!-- End of Topbar -->
		<!-- Begin Page Content -->
	</div>
	<script type="text/javascript">
		function readURL(input) {
			if (input.files) {
				var reader = new FileReader();

				reader.onload = function(e) {
					$('#img-display').attr('src', e.target.result);
				}
				reader.readAsDataURL(input.files[0]);
			}
		}
		$("#image").change(function() {
			readURL(this);
		});
	</script>
	<!-- Bootstrap core JavaScript-->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<!-- Core plugin JavaScript-->
	<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
	<!-- Custom scripts for all pages-->
	<script th:src="@{/js/sb-admin-2.min.js}"></script>
	<!-- Page level plugins -->
	<script th:src="@{/vendor/chart.js/Chart.min.js}"></script>
	<!-- Page level custom scripts -->
	<script th:src="@{/js/demo/chart-area-demo.js}"></script>
	<script th:src="@{/js/demo/chart-pie-demo.js}"></script>
</body>
</html>