<!DOCTYPE html>
<html xmnlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Room</title>
<!-- Custom fonts for this template-->
<script th:src="@{https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js}"></script>
<script
	th:src="@{https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js}"
	type="text/javascript"></script>
<script th:src="@{https://code.jquery.com/jquery-1.11.3.min.js}">
	
</script>
<script type="text/javascript"
	th:src="@{https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js}">
</script>
<link
	th:href="@{https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i}"
	rel="stylesheet" />
<!-- Custom styles for this template-->
<link rel="stylesheet" th:href="@{/css/styleTSX.css}" />
<!-- Custom fonts for this template-->
<link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet"
	type="text/css" />
<!-- Custom styles for this template-->
<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet" />

<link rel="stylesheet"
	href="/cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}" />
</head>
<body id="page-top">
	<!-- Page Wrapper -->
	<div id="wrapper">
		<!-- Include MenuFrom
		<th:block th:replace="fragments/MenuFormLeft"></th:block> -->
		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">
			<!-- Main Content -->
			<div id="content">
				<!-- Topbar -->
				<nav
					class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
					<!-- Sidebar Toggle (Topbar) -->
					<button id="sidebarToggleTop"
						class="btn btn-link d-md-none rounded-circle mr-3">
						<i class="fa fa-bars"></i>
					</button>
					<!-- Topbar Search -->
					<marquee>
						<h1 style="color: blue;">Book Tickets System</h1>
					</marquee>
					<!-- Topbar Navbar -->
				</nav>
				<!-- Form thêm -->
				<form th:action="@{/room/save}" method="POST" id="formAdd"
					style="width: 1000px; margin-left: 130px;" th:object = "${room}">
					<div style="text-align: center;">
						<h2>
							<b>Phòng Chiếu Phim</b>
						</h2>
						<!-- <p style="color: red; font-style: italic;">
							<bean:write name="userForm" property="thongBao" />
						</p> -->
					</div>
					<div class="row">
						<label class="col-25" for="fname">RoomID
						<span class="asterisk">*</span></label>
						<input class="col-75" th:field = "*{roomId}" type="hidden" id="fname" name="roomID" />
						
					</div>
					
					<div class="row">
						<label class="col-25" for="lname">Tên Phòng Chiếu
						<span class="asterisk"> *</span></label>
						<input class="col-75" type="text" id="lname" th:field = "*{roomName}" required="required"
							placeholder="Vui lòng nhập tên phòng chiếu" />
						<em th:if = "${#fields.hasErrors('roomName')}" th:errors = "*{roomName}">Error</em>
						
					</div>
					
					<div class="row">
						<label class="col-25" for="lname">Số Lượng Ghế
						<span class="asterisk"> *</span></label>
						<input class="col-75" type="number" id="lname" min="10" max="100" step = "10" th:field = "*{seats}" required="required"
							placeholder="Vui lòng nhập tên quốc gia" />
						<em th:if = "${#fields.hasErrors('seats')}" th:errors = "*{seats}"></em>
						
					</div>
					
					<div class="row">
						<input type="submit" value="Lưu" name="them" />
						<!-- 	<input style="margin-left: 15px" value="Hủy" name="huy"> -->
					</div>
				</form>
			</div>
		</div>
		<!-- End of Topbar -->
		<!-- Begin Page Content -->
	</div>

	<!-- Bootstrap core JavaScript-->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<!-- Core plugin JavaScript-->
	<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
	<!-- Custom scripts for all pages-->
	<script th:src="@{/js/sb-admin-2.min.js}"></script>
	<!-- Page level plugins -->
	<script th:src="@{/vendor/chart.js/Chart.min.js}"></script>
	<!-- Page level custom scripts -->
	<script th:src="@{/js/demo/chart-area-demo.js}"></script>
	<script th:src="@{/js/demo/chart-pie-demo.js}"></script>
</body>
</html>
