<!DOCTYPE html>
<html xmnlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinema Information</title>
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg bg-white page-navbar">
        <div class="container">
            <a class="navbar-brand logo" href="#">Map Example</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item item" role="presentation"><a class="nav-link active" href="#">Home</a></li>
                    <li class="nav-item item" role="presentation"><a class="nav-link" href="#">Locations</a></li>
                    <li class="nav-item item" role="presentation"><a class="nav-link" href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="map-example">
            <div class="row">
                <div class="col-lg-6">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15336.990871680802!2d108.2375364!3d16.0526301!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8ce2be163002eaac!2zS3VyYW1hIENpbmVtYSBDYWZlIMSQw6AgTuG6tW5n!5e0!3m2!1svi!2s!4v1555423984657!5m2!1svi!2s" width="500" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="col-lg-6">
                    <div class="heading">
                        <h3>Lorem Ipsum Dolor</h3>
                        <div class="rating"><i class="fa fa-star icon"></i><i class="fa fa-star icon"></i><i class="fa fa-star icon"></i><i class="fa fa-star icon"></i><i class="fa fa-star-o icon"></i></div>
                    </div>
                    <div class="info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ornare leo porta cursus porttitor. Proin quis tempor lectus. Cras sodales nisi ut felis tincidunt suscipit. Nullam consectetur odio et lacus tempor vestibulum.</p>
                        <p>Aenean convallis, tortor eget vehicula vestibulum, sem nibh rutrum sem, vel sodales nisl velit eu ex. Sed hendrerit efficitur sollicitudin. Maecenas tempus augue lacus.</p>
                    </div>
                    <div class="gallery">
                        <h4>Photos</h4>
                        <div class="row">
                            <div class="col-md-4"><a href="assets/img/image2.jpg"><img class="img-fluid image" src="assets/img/image2.jpg"></a></div>
                            <div class="col-md-4"><a href="assets/img/image3.jpg"><img class="img-fluid image" src="assets/img/image3.jpg"></a></div>
                            <div class="col-md-4"><a href="assets/img/image4.jpg"><img class="img-fluid image" src="assets/img/image4.jpg"></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="page-footer">
        <div class="container">
            <div class="links"><a href="#">Information</a><a href="#">About Us</a><a href="#">Contact Us</a></div>
        </div>
    </footer>
    <script th:src="@{https://maps.google.com/maps/api/js?key=YOUR_API_KEY}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.25/gmaps.js}"></script>
    <script th:src="@{https://code.jquery.com/jquery-3.2.1.min.js}"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/js/script.js}"></script>
    
</body>

</html>