<!DOCTYPE html>
<html xmnlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>500 Page</title>
    <link th:href="@{https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed:100,200,300,400}" rel="stylesheet" />
    <link th:href="@{/css/500.css}" rel="stylesheet" type="text/css" />
	<!-- <link th:href="/assets/org/css/selecthealth.css" rel="stylesheet" type="text/css" media="screen, projection" /> -->

</head>

<body class="loading">
<div class="error-502__container">
	<div class="error-502">
		<div class="error-502__text">
			<h1>500</h1>
  			<h2>Unexpected Error <b>:(</b></h2>
			<h3><p>You can go back to our <a href="/">Homepage</a>.</p></h3>
		</div>
	</div>
</div>
<div class="gears">
    <div class="gear one">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <div class="gear two">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <div class="gear three">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
</div>

<script th:src="@{https://code.jquery.com/jquery-1.10.2.js}"></script>
<!-- <script src="js/main.js" type="text/javascript"></script> -->
<script>
    $(function() {
        setTimeout(function(){
            $('body').removeClass('loading');
        }, 1000);
    });
</script>
</body>
</html>