<!DOCTYPE html>
<html xmnlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sign Up</title>

    <!-- Font Icon -->
    <link rel="stylesheet" th:href="@{/form/fonts/material-icon/css/material-design-iconic-font.min.css}" />

    <!-- Main css -->
    <link rel="stylesheet" th:href="@{/form/css/style.css}" />
</head>
<body>

    <div class="main">

        <!-- Sign up form -->
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form th:action = "@{/user/save}" th:object = "${user}" method="POST" class="register-form" id="register-form">
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="name" id="name" th:field = "*{userName}" placeholder="Tên đăng nhập của bạn"/>
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="email" th:field = "*{email}" placeholder="Email của bạnl"/>
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="pass" id="pass" th:field = "*{password}" placeholder="Mật khẩu của bạn"/>
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" name="re_pass" id="re_pass" placeholder="Nhập lại mật khẩu của bạn"/>
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-phone"></i></label>
                                <input type="text" name="phone" id="phone" placeholder="Số điện thoại của bạn"/>
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-calendar"></i></label>
                                <input type="date" name="birthday" id="birthday" th:field = "*{birthday}" placeholder="Ngày sinh của bạn"/>
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-male-female"></i></label>
                                <input type="radio" name="gender" id="gender" th:field = "*{gender}" th:value = "Nam"/>Nam
                                <input type="radio" name="gender" id="gender" th:field = "*{gender}" th:value = "Nữ"/>Nữ
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-accounts-alt"></i></label>
                                <input type="text" name="re_pass" id="re_pass" placeholder="Chứng minh nhân dân của bạn"/>
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-home"></i></label>
                                <input type="text" name="re_pass" id="re_pass" placeholder="Địa chỉ của bạn"/>
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-label"></i></label>
                                <input type="hidden" name="re_pass" id="re_pass" th:field = "*{active}" placeholder="Địa chỉ của bạn"/>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img th:src="@{/form/images/signup-image.jpg}" alt="sing up image" /></figure>
                        <a href="/login" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
    </div> 

    <!-- JS -->
    <script th:src="@{/form/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/form/js/main.js}"></script>
</body>
</html>